* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: beige;
    /* height: 100vh; */
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    border: 2px solid rgb(3, 3, 53);
    border-radius: 5px;
    margin-bottom: 15px; 
    padding: 15px;
    width: 100%; 
    max-width: 500px;
}
h1 {
    text-align: center;
    margin-top: 6px;
    padding: 15px;
}
input {
    padding: 4px;
    width: 100%;
}
label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px; 
}
button {
    padding: 5px;
    padding-inline: 15px;
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    margin-top: 10px;
}
#userList {
    margin: auto;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(210, 177, 11);
    border-radius: 3px;
    border: none;
    /* width: 100%; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
li p {
    margin: 5px 0; 
    color: rgb(11, 11, 61);
    font-size: 16px;
}